body{
    font-family: serif;
}
.img{
    margin-top: 10px;
    margin-left: 120px;
}
.user-box{
    float: left;
    width:300px;
    height:380px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius:3px;  
    background-color:wheat;
}
form input{
    width: 250px;
    padding: 7px;
    border:black;
    border:1px solid gray;
    outline:indigo;
    margin-left: 140px;
    
    
}
input[type="button"]{
    width:150px;
    height:35px;
    margin-left: 85px;
    border:none;
    background-color: blue;
    border-radius: 6px;
    border: 2px solid blue;
    color:white;
    transition: all 0.3s ease;
    font-size:18px;
}
input[type="button"]:hover{
    background:none;
    color: blue;
}
button{
    width:150px;
    height:35px;
    margin-left: 85px;
    border:none;
    background-color: blue;
    border-radius: 6px;
    border: 2px solid blue;
    color:white;
    transition: all 0.3s ease;
    font-size:18px;
}
button:hover{
    background:none;
    color: blue;
}
li{
    list-style: none;
}
h2{
    text-align: center;
}

.message-delete{
	position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgba(36, 36, 36, 0.774);
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    display:none;
}
.message-head-delete{
	display: flex;
    position: absolute;
    flex-direction: column;
    background: rgb(49, 49, 49);
    border: #f0f0f0 3px solid;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: sans-serif;
    width: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.message-head-delete img{
	max-width: 90px;
    max-height: 90px;
    padding: 10px;
}
.message-head-delete h2, .message-head-delete label{
	color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.msg-btns-del{
    margin: 30px;
}
.ms-btn-cancel, .ms-btn-delete{
    text-decoration: none;
    background:white ;
    color: rgb(12, 63, 38);
    padding:15px 30px;
    margin: 25px;
    border:rgb(255, 255, 255) 2px solid;
    border-radius: 10px;
}
.ms-btn-cancel:hover{
    background:blue;
    color: rgb(235, 235, 235);
}
.ms-btn-delete:hover{
    background: red;
    color: rgb(235, 235, 235);
}
.ms-btn-delete:active{
    background:red;
    color: rgb(235, 235, 235);
}
.ms-btn-cancel:active{
    background:blue;
    color: rgb(235, 235, 235);
}
