*{
    margin: 0;
    padding: 0;
    font-family: serif;
}
.main{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgb(0,0,0,0.5)), url(car.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: solid white 3px;
    border-radius: 50%;
}
.navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding-top: 25px;
}
.content{
    color: #fff;
    text-align: center;
    margin-top: 10%;
    display: inline-block;
    width: 100%;
}
button{
    width: 100px;
    padding: 15px;
    border-style: solid;
    border-color:#4caf50;
    color: white;
    background: transparent;
    margin: 20px 10px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}
button:hover {
    background:#4caf50;
    color: white;
}